* {
    text-align: center;
    font-size: 28px;
}

body {
    font-family: 'Dancing Script', cursive;
}

main {
    width: 40vw;
    margin: auto;
}

img {
    height: auto;
    width: 450px;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 48px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
    font-size: larger;
}

li {
    text-align: left;
}